
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GreenhouseWebApp.Models.RegisterForm

@{ 
    if (IsPost)
    {
        String username = Request.Form["username"];
        String password = Request.Form["password"];
        String confirmPassword = Request.Form["confirmPassword"];
        String email = Request.Form["email"];
        

        <text>
        Brugerinfo my nigga:<br />
        Username: @username<br />  
        Password: @password<br />   
        Password: @confirmPassword<br />    
        Email:    @email <br />
        </text>


    }

}
<!DOCTYPE html>
<html>
<head>
    <title>Customer Form</title>
</head>
<body>
   @using (Html.BeginForm("RegisterUser", "RegisterUser")) {
        <fieldset>
            <legend>Register User</legend>
            <div id="registerUser">
                <div>
                    @ViewBag.Message

                    <label for="username">Username:</label>
                    <input type="text" name="username" value="" required />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" value="" required />
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" name="confirmPassword" value="" required />
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="" required />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                    @ViewBag.HashedPassword
                </div>
            </div>
        </fieldset>
    }
</body>
</html>




